{% extends "layout.html.twig" %}

{% block title %}validate transfer file{% endblock %}
{% block body %}
    <!-- TODO IF NO DATA -->
     {{ filename }}
<!--     <div class="clearfix"></div>-->
     
    <div class="table-responsible">
    <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
    <thead>
           <tr>
               <th><input type="checkbox" id="check-all" class="flat"></th></th>
               <!-- TODO add check all -->
                <th>id</th>
                <th>accountsStatementFileId</th>
                <th>sequenceNumber</th>
                <th>executionDate</th>
                <th>valueDate</th>
                <th>amount</th>
                <th>currency</th>
                <th>counterpartment</th>
                <th>details</th>
            </tr>
    </thead>
       <!--<tfoot> -->
    <tbody>
{% for transfer in transferList %}     
        <tr>
            <th><input type="checkbox" class="flat" name='table_records' id='{{transfer.id}}'/></th>
            <th>{{transfer.id}}</th>
            <th>{{transfer.accountsStatementFileId}}</th>
            <th>{{transfer.sequenceNumber}}</th>
            <th>{{transfer.executionDate}}</th>
            <th>{{transfer.valueDate}}</th>
            <th>{{transfer.amount}}</th>
            <th>{{transfer.currency}}</th>
            <th>{{transfer.counterpartment}}</th>
            <th>{{transfer.details}}</th>
        </tr>
{% endfor %}

    </tbody>
    </table>
    <!--
    <div class='col-md-12 col-sm-12 col-xs-12' align='right'> 
             <input type='button' name='btn'>validate</input>
             <!-- TODO javascript to execute --><!--
    </div>
    -->
</div>

    
{%  endblock %}


{% block page_footer_javascripts %}
{% endblock %}

{% block page_stylesheets %} 
{% endblock %}
