{% extends "layout.html.twig" %}

{% block title %}View an environment{% endblock %}
{% block body %}
 <div class="container">
{{ form_start(form) }}
{{ form_errors(form) }}
    {{ form_row(form.name, { 'attr':{'disabled':'disabled'} }) }}
    {{ form_row(form.description, { 'attr':{'disabled':'disabled'} }) }}
    {{ form_widget(form.save, { 'label': 'Return' }) }}
{{ form_end(form) }}
    
</div>
{%  endblock body %}